@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  background-color: #0b0b0b;
  color: #b0b0b0;
}
